* {
  padding: 0;
  margin: 0;
}

body {
  background-color: antiquewhite;
}

p,
h3,
h2,
h1,
a,
span {
  font-family: "Barlow", sans-serif;
  color: #2a4a5c;
}

.main {
  display: flex;
  margin: 0 auto;
  width: 1520px;
}

.left__part {
  display: flex;
}

.main__logo {
  position: absolute;
  height: 25px;
  width: 170px;
  padding-left: 40px;
  padding-top: 40px;
}

.left__part-img {
  position: relative;
  height: 956px;
  width: 760px;
}

.right__part {
  display: flex;
  height: 956px;
  width: 760px;
  background-color: #eff6ff;
}

.right__block {
  width: 600px;
  margin: 0 auto;
}

.registration {
  margin-top: 100px;
}

.registration-text {
  padding-top: 20px;
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.registration__button {
  width: 280px;
  height: 40px;
  line-height: 40px;
  display: flex;
  text-align: center;
}

.facebook__button {
  background-color: #255a9b;
}

.facebook__button:hover {
  cursor: pointer;
  background: #255a9bc9;
  transition: background-color 0.5s ease;
}

.logo {
  height: 20px;
  width: 20px;
  padding: 5px 0px 0px 10px;
}

.logo__image {
  height: 20px;
}

.linkedin__button {
  background-color: #0076b6;
}

.linkedin__button:hover {
  cursor: pointer;
  background: #0076b6d5;
  transition: background-color 0.5s ease;
}

.text__link {
  padding-left: 40px;
}

.text__link {
  padding-left: 40px;
}

.facebook__text {
  text-decoration: none;
  color: white;
}

.linkedin__text {
  text-decoration: none;
  color: white;
}

.registration__alternative {
  padding-top: 35px;
  text-align: center;
}

.registration__alternative__text {
  text-transform: uppercase;
}

.registration__email {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}

.registration__email-form-field {
  width: 250px;
  height: 50px;
  border: 0.5px solid rgba(0, 0, 0, 0.082);
  padding-left: 10px;
  outline: none;
}

.registration__email-form-field:hover {
  border-left: 0.5px solid rgb(0, 153, 255);
}

.investor__types {
  margin-top: 40px;
}

.investor__types__text {
  padding-top: 10px;
}

.radio__variants {
  padding-top: 40px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* для элемента input c type="radio" */
.custom-radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio > span::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75% 75%;
}

/* стили при наведении курсора на радио */
.custom-radio > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio > input:not(:disabled):active + span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio > input:focus:not(:checked) + span::before {
  border-color: #80bdff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio > input:checked + span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio > input:disabled + span::before {
  background-color: #e9ecef;
}

body {
  padding: 20px 50px;
}

.radio {
  margin-bottom: 0.2em;
}

.radio__text {
  color: black;
}

.radio__variants__hint {
  width: 280px;
  padding-top: 25px;
  padding-left: 15px;
}

.radio__variants__hint__text {
  color: grey;
}

.checkbox {
  margin-bottom: 0.2em;
}

/* для элемента input c type="checkbox" */
.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox > span::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox > input:not(:disabled):active + span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox > input:focus:not(:checked) + span::before {
  border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox > input:checked + span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox > input:disabled + span::before {
  background-color: #e9ecef;
}

body {
  padding: 20px 50px;
}

.agree {
  margin-top: 70px;
}

.agree__text {
  color: grey;
}

.agree__link {
  color: #0b81ef;
}

.create__account__button {
  padding-top: 60px;
}

.create__button__link {
  width: 280px;
  height: 45px;
  border-radius: 5px;
  line-height: 43px;
  text-align: center;
  border: none;
  background-color: #0b81ef;
}

.create__button__text {
  font-size: 15px;
  text-decoration: none;
  color: #eff6ff;
  font-weight: bold;
}

.create__button__link:hover {
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: #0b81efce;
}
